/* google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* setting up the variables  */
:root {
  /* colors  */

  --Moderate-violet: #7541c8;
  --Very-dark-grayish-blue: #48556a;
  --Very-dark-blackish-blue: #19212e;
  --White: #ffffff;
  --Light-gray: #cfcfcf;
  --Light-grayish-blue: #ecf2f8;

  --ff-barlow: "Barlow Semi Condensed", sans-serif;

  --fw-500: 500;
  --fw-600: 600;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--Light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--ff-barlow);
}

/* utility classes  */
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.hero-text {
  color: var(--White);
  font-weight: var(--fw-600);
  font-size: 1.1rem;
  width: 85%;
}
.hero-desc {
  color: var(--Light-gray);
  font-weight: var(--fw-500);
  font-size: 0.8rem;
  line-height: 1.5;
  width: 90%;
}

/* general styling  */
.card1 {
  padding: 1.5rem;
  background-image: url(images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 180px 0px;
  background-color: var(--Moderate-violet);
  gap: 0.8em;
  border-radius: 8px;
}
.user-info {
  justify-content: flex-start;
  align-items: center;
}
.user-info img {
  transform: scale(0.55);
  border-radius: 50%;
  margin-left: -10px;
}
.user-name p:first-child {
  color: var(--White);
  font-size: 0.9rem;
  font-weight: var(--fw-600);
}
.user-name p:last-child {
  color: var(--Light-gray);
  font-weight: var(--fw-500);
  font-size: 0.75rem;
}
.main-wrapper {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 85%;
  /* border: 2px solid maroon; */
  gap: 1.2em;
}
.card2 {
  padding: 1.5rem;
  background-color: var(--Very-dark-grayish-blue);
  border-radius: 8px;
  gap: 0.8em;
}
.card3 {
  padding: 1.5rem;
  background-color: var(--White);
  border-radius: 8px;
  gap: 0.8em;
}
.name {
  color: var(--Very-dark-blackish-blue);
  font-weight: var(--fw-600);
  font-size: 0.9rem;
}
.status {
  font-size: 0.75rem;
  color: var(--Very-dark-grayish-blue);
}
.white-text {
  color: var(--Very-dark-blackish-blue);
}
.gray-text {
  color: var(--Very-dark-grayish-blue);
}
.card4 {
  padding: 1.5rem;
  background-color: var(--Very-dark-blackish-blue);
  border-radius: 8px;
  gap: 0.8em;
}
.card5 {
  padding: 1.5rem;
  background-color: var(--White);
  border-radius: 8px;
  gap: 0.8em;
}
