@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --Strong-Cyan: #26baa4;
  --dark-Cyan: #147566;
  --Light-Blue: #6173ff;
  --dark-Blue: #2e3992;
  --Dark-Grayish-Blue: #4c545d;
  --Grayish-Blue: #9fabb2;
  --light-gray: #f0f1f6;
  --white: #fff;

  --ff-bai-jamjuree: "Bai Jamjuree", sans-serif;

  --fw-400: 400;
  --fw-600: 600;
}
body {
  font-family: var(--ff-bai-jamjuree);
  background-image: url(images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex {
  display: flex;
}
.main-wrapper {
  flex-direction: column;
  gap: 2em;
  /* border: 2px solid maroon; */
  width: 90%;
  margin-inline: auto;
}
.hero-sec {
  flex-direction: column;
  justify-content: center;
  gap: 1.5em;
  align-items: center;
  margin-bottom: 4em;
  /* border: 2px solid darkblue; */
}
.hero-sec img {
  margin-top: 2.5em;
}
.hero-title {
  text-align: center;
  color: var(--Dark-Grayish-Blue);
  font-size: 2rem;
  width: 15ch;
  font-weight: var(--fw-600);
}
.hero-desc {
  text-align: center;
  color: var(--Grayish-Blue);
  font-size: 1rem;
  width: 30ch;
}
.btn-wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  width: 100%;
  /* border: 2px solid darkgreen; */
}
.btn-layout {
  width: 300px;
  padding: 1em 0;
  color: var(--white);
  border: none;
  border-radius: 150px;
  font-family: var(--ff-bai-jamjuree);
  font-size: 1.2rem;
  font-weight: var(--fw-600);
}
.btn1-style {
  background-color: var(--Strong-Cyan);
  box-shadow: 1px 3px var(--dark-Cyan);
}
.btn2-style {
  background-color: var(--Light-Blue);
  box-shadow: 1px 3px var(--dark-Blue);
}

/* section2 styling goes here  */

.section2 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.5em;
  /* border: 2px solid darkmagenta; */
}
.section2 img {
  width: 100%;
}
.features {
  /* border: 2px solid darkorange; */
  flex-direction: column;
  gap: 2.5em;
}
.individual-feature {
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2em;
  /* border: 2px solid darkolivegreen; */
}
.wrapper {
  width: 100%;
  flex-direction: column;
  /* border: 2px solid darkviolet; */
}
/* section 3 styling goes here  */

.section3 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  /* border: 2px solid darkgrey; */
  margin-top: 4em;
}
.section3 img {
  width: 100%;
}

/* section 4 styling goes here  */
.section4 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  margin-top: 4em;
  /* border: 2px solid darkred; */
}
.workflow-wrapper {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  /* border: 2px solid darkslateblue; */
}
.tips {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  margin-top: 4em;
  /* border: 2px solid maroon; */
}
.tips img {
  width: 48px;
}

/* section 5 styling goes here  */

.brand-partners {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4em;
  margin-top: 4em;
  /* border: 2px solid darkslategray; */
}

/* section 6 styling goes here  */

.section6 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  margin-top: 4em;
  /* border: 2px solid darkslategray; */
}

/* section 7 styling goes here  */

.section7 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  /* border: 2px solid darkslategray; */
  background-color: var(--light-gray);
  margin-top: 4em;
}
.brand-logo {
  margin-top: 2.5em;
  width: 64px;
}
.page-links {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  /* border: 2px solid darkslategray; */
}
.social-links {
  gap: 2em;
  margin-bottom: 2em;
}

/* hover states  */

.page-links p:hover {
  color: var(--Strong-Cyan);
  cursor: pointer;
}

button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* media queries for desktop goes here  */

@media (width > 769px) {
  body {
    background-image: url(images/bg-header-desktop.png);
  }
  .left-text {
    text-align: left;
  }
  .hero-title {
    width: 100%;
  }
  .hero-desc {
    width: 100%;
  }
  .btn-wrapper {
    flex-direction: row;
  }
  .btn-layout {
    width: 250px;
    font-size: 1rem;
  }
  .section3 img {
    width: 50%;
  }
  .features {
    flex-direction: row;
    justify-content: flex-start;
  }
  .features img {
    transform: scale(0.7);
  }
  .wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    margin-top: 100px;
  }
  .workflow-wrapper {
    width: 100%;
    flex-direction: row;
  }
  .tips {
    width: 100%;
  }

  .brand-partners {
    flex-direction: row;
  }
  .section7 {
    flex-direction: row;
    justify-content: space-around;
    padding: 2.5em 0;
  }
  .page-links {
    flex-direction: row;
    justify-content: center;
  }
  .brand-logo {
    margin-top: 0;
  }
  .social-links {
    margin-bottom: 0;
  }
}
